#main #hero-section {
  padding: 50px 0px;
  background: #3f71af98;

  text-align: center;

  /* background: url(../img/subjects/SL-010221-39450-20.jpg) center top no-repeat
    fixed;
  background-size: cover;
  padding: 60px 0 60px 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
}

#main #hero-section h2 {
  color: white;
}

/* #main #hero-section::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(167, 163, 192, 0.3);
  z-index: 9;
}

#main #hero-section .container {
  position: relative;
  z-index: 10;
} */

#main .offer-card-section {
  padding: 50px;
  background: rgba(63, 114, 175, 0.92);
  z-index: 1;
}
#main .offer-card {
  padding: 20px;
  /* padding-right: 60px; */
  /* border: 2px dashed #3498db; */
  min-height: 350px;
  border-radius: 50px 10px 100px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 20px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  background: white;
  text-align: center;
}

#main .offer-card:hover {
  transform: scale(1.05);
}

h3 {
  color: #3498db;
  color: #112d4e;
}

p {
  color: #000000;
  font-size: 16px;
  margin: 20px;
}

.percentage-icon {
  color: #e74c3c;
}

.order-button {
  /* background-color: #3498db; */
  /* background-color: coral; */
  background: #37985c;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  animation: gradientAnimation 2s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.order-button:hover {
  /* background-color: #2980b9; */
  background-color: coral;
}
/* Add this to your existing styles */
.offer-badge {
  position: absolute;

  right: 0;
  bottom: 0;
  color: #fff;
  padding: 10px;
  border-radius: 100px 50px 45px 0;
  text-align: center;
}

footer {
  background: #112d4e;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
